pdfa.xmpi
.vim
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.asv
*.bcf
*.lof
*.mmz
*.DAT
*.mat
*.dat
*.mexa64
*.lot
*.run.xml
build/
_minted*
*figure[0-9]*.dpth
*figure[0-9]*.md5
*figure[0-9]*.pdf
memoize.memo.dir
*.auxlock
*.xmpdata
temp_files
dependencies.lock


